* {
    box-sizing: border-box;

    padding: 0;
    margin: 0;
}

hmtl,
body {
    background-color: #1b1b32;
}

.App {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    padding-top: 15px;

    font-family: Lato, sans-serif;
}

.logo-container {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;

    margin: 20px;
}

.logo {
    height: 50px;
}

.main-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    min-width: 600px;
    height: 550px;
}